<nb-card>
  <nb-card-body>
    <div class="row">
      <div class="col-md-6">
        <h4>Students</h4>
        <ngx-charts-advanced-pie-chart [view]="view" [scheme]="colorScheme" [results]="studentsingle" [gradient]="gradient"
          (select)="onSelect($event)" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
        </ngx-charts-advanced-pie-chart>
      </div>
      <div class="col-md-6 vl">
        <h4>Green Points</h4>
        <ngx-charts-advanced-pie-chart [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient"
          (select)="onSelect($event)" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
        </ngx-charts-advanced-pie-chart>
      </div>
    </div>
  </nb-card-body>
</nb-card>