<div class="row" style="margin-top: 20px; margin-left:20px;">
  <div class="col-md-12">
    <div class="row">
      <h4 style="padding-left: 20px;">Change Password</h4>
    </div>
    <nb-card>
      <nb-card-body>
        <form (ngSubmit)="onSubmit()" #changePasswordForm="ngForm">
          <div class="row">
            <div class="form-group col-md-3">
              <label>Old Password</label>
              <input type="password" id="text"
                [ngClass]=" oldPassword.valid || oldPassword.pristine ? 'form-control' :  'form-control form-control-danger'"
                placeholder="Old Password*" [(ngModel)]="_viewModel.oldPassword" name="oldPassword" required
                #oldPassword="ngModel">
              <div [hidden]="oldPassword.valid || oldPassword.pristine" class="alert alert-danger">
                Old Password is required
              </div>
            </div>
            <div class="form-group col-md-3">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-3">
              <label>New Password</label>
              <input type="password" id="text"
                [ngClass]=" newPassword.valid || newPassword.pristine ? 'form-control' :  'form-control form-control-danger'"
                placeholder="New Password*" [(ngModel)]="_viewModel.newPassword" name="newPassword" required
                #newPassword="ngModel">
              <div [hidden]="newPassword.valid || newPassword.pristine" class="alert alert-danger">
                New Password is required
              </div>
            </div>
            <div class="form-group col-md-3">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-3">
              <div style="float: left" class="text-success">{{ResponseMessage}}</div>
              <button type="submit" class="btn btn-success btn-sm" style="font-size: 0.95rem !important; float: right"
                [disabled]="!changePasswordForm.form.valid">Save</button>
            </div>
            <div class="form-group col-md-4">
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>

  </div>
</div>