
<nb-card>
  <nb-card-header>
    Regift
  </nb-card-header>
  <nb-card-body>
      <div class="row">
        <div class="col-md-7 bg bdr">
          <form #form="ngForm">
            <div class="row mt11">
              <div class="col-md-7 bdr mt7">
                <h5 class="mt7">{{_regiftModel.description}}</h5>
              </div>
              <div class="col-md-5 mt7">
                <div class="lbl mt7">Order Number</div>
                <div><h6>{{_regiftModel.orderID}}</h6></div>
              </div>
            </div>
            <br>
            <div class="row mb7" *ngFor="let subitem of _regiftModel.regiftSubItems; let i=index;" (change)="CalculateGP()">
                <div class="col-sm-7 col-md-7 pr0">
                    <select class="form-control ddltype" name="ddl-type-{{i}}" [(ngModel)]='subitem.typeID' [disabled]="_regiftModel.statusName == 'Declined' || _regiftModel.statusName == 'Delivered'">
                      <option *ngFor="let type of typeList" [value]="type.id">{{type.description}}</option>
                    </select>
                </div>
                <div class="col-sm-1 col-md-1 pt15 lblQty lbl">Qty</div>
                <div class="col-sm-2 col-md-2 pr0 pl0" (input)="CalculateGP()">
                    <input nbInput [disabled]="_regiftModel.statusName == 'Declined' || _regiftModel.statusName == 'Delivered'"
                    name="txt-qty-{{i}}"
                    class="form-control qty"
                    fullWidth
                    [(ngModel)]="subitem.qty"
                    placeholder=""
                    type="text" numbersOnly maxlength="3" ngModel #quantity="ngModel" required>
                </div>
                <div class="col-sm-1 col-md-1 pr0 pl0 updw">
                    <div (click)="QtyInc(subitem)" >+</div>
                    <div class="lne"></div>
                    <div (click)="QtyDec(subitem)" >-</div>
                  </div>
                <div class="col-sm-1 col-md-1 mt13" *ngIf="i!=0" (click)="RemoveItem(i)"><i class="nb-close"></i></div>
                <div [hidden]="quantity.valid" class="col-sm-11" style="width:100%">
                    <div class="vld" [hidden]="_regiftModel.statusName == 'Declined'  || _regiftModel.statusName == 'Delivered'">Quantity Required!</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11 pr0">
                    <button class="btn" (click)="AddItem()" [disabled]="_regiftModel.statusName == 'Declined'  || _regiftModel.statusName == 'Delivered'"><i class="nb-plus-circled" ></i>Add New Item</button>
                </div>
            </div>
            <br>
           <div class="row ml15">
                <div class="col-md-9 row gpspr pl0">
                  <h4>Green Credits</h4>
                  <span class="app">(approx)</span>
                </div>
                <div class="col-md-3 row gpspr">
                    <i class="nb-star gpico"></i>
                    <h1>{{_regiftModel.totalGP}}</h1>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <h4>Set Pickup Time</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <kendo-timepicker onkeydown="return false;"   [min]="min" [max]="max"  [disabled]="_regiftModel.statusName == 'Declined'  || _regiftModel.statusName == 'Delivered'" nbInput required #picktime="ngModel" class="picker" name="kt-pickTime" [(ngModel)]="_regiftModel.pickTime" readonly></kendo-timepicker>
                    <!-- <p>Errors: {{ picktime.errors | json }}</p> -->
                </div>
                <div class="col-md-5 pr0">
                    <kendo-datepicker  [min]="mindate" [disabled]="_regiftModel.statusName == 'Declined'  || _regiftModel.statusName == 'Delivered'" nbInput required #pickdate="ngModel" class="picker" name="kt-pickDate" format="dd MMM yyyy" [(ngModel)]="_regiftModel.pickDate"></kendo-datepicker>
                </div>
                <div [hidden]="pickdate.valid && picktime.valid || _regiftModel.statusName == 'Declined'  || _regiftModel.statusName == 'Delivered'" class="col-sm-11" style="width:100%">
                    <div class="vld">Pickup Date/Time is not valid!</div>
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-12">
                    <h4>Driver</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11 pr0">
                  <select [disabled]="_regiftModel.statusName == 'Declined'  || _regiftModel.statusName == 'Delivered'" class="form-control" name="ddl-driver" [(ngModel)]='_regiftModel.assignTo' required #driver="ngModel">
                    <option *ngFor='let drv of driverList' [value]='drv.id'>{{drv.fullName}}</option>
                  </select>
                  <div *ngIf="driver.invalid || _regiftModel.assignTo == -1 && (_regiftModel.statusName != 'Declined' && _regiftModel.statusName != 'Delivered')" class="vld">
                      Please select driver.
                  </div>
                </div>
            </div>
            <br>
            <div class="row" [hidden]="_regiftModel.assignTo != -1 && _regiftModel.statusName != 'Declined'">
                <div class="col-md-12">
                    <h4>Status</h4>
                </div>
            </div>
            <div class="row" [hidden]="_regiftModel.assignTo != -1 && _regiftModel.statusName != 'Declined'">
                <div class="col-md-11 pr0">
                    <select name="ddlStatus" [disabled]="_regiftModel.statusName == 'Declined'  || _regiftModel.statusName == 'Delivered'" nbInput class="form-control" [(ngModel)]="_regiftModel.orderStatusID">
                        <option *ngFor="let status of statusList" [value]="status.value">{{status.description}}</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="row" [hidden]="(_regiftModel.statusName == 'Declined'  || _regiftModel.statusName == 'Delivered')">
                <div class="col-md-12">
                    <h4>Comments</h4>
                </div>
            </div>
            <div class="row" [hidden]="_regiftModel.statusName == 'Declined'  || _regiftModel.statusName == 'Delivered'">
                <div class="col-md-11 pr0">
                    <textarea name="ta_comment" [(ngModel)]="_regiftModel.comments" class="ta"></textarea>
                </div>
                <div class="col-md-1 pr0" style="margin-top:73px" *ngIf="_regiftModel.comments != null && _regiftModel.comments.trim() != ''">
                    <div style="cursor: pointer" (click)="SMSRegiftComments()"><i class="fas fa-sms"></i></div>
                </div>
            </div>
            <br>
            <div class="row mb11">
                <div class="col-md-6">
                    <a class="bck" [routerLink]="['/pages/request/regift']">Back to Listing</a>
                </div>
                <div class="col-md-2 pr0">
                  <!-- Hide in case of Declined and Complete -->
                    <!-- <select name="ddlStatus" nbInput [hidden]="_regiftModel.assignTo != -1" class="form-control" [(ngModel)]="_regiftModel.orderStatusID">
                      <option *ngFor="let status of statusList" [value]="status.value">{{status.description}}</option>
                    </select> -->
                    <!-- <button (click)="onRejectAction(dialogReject,$event)" [hidden]="_regiftModel.statusName == 'Declined'  || _regiftModel.statusName == 'Delivered'" nbButton status="success" style="float:right" >Reject</button> -->
                </div>
                <div class="col-md-3 pr0" *ngIf="(picktime.valid && pickdate.valid) && (_regiftModel.statusName != 'Declined' && _regiftModel.statusName != 'Delivered')">
                  <!-- Hide in case of Declined and Complete -->
                  <!-- [disabled]='form.invalid' -->
                    <button (click)='AssignRegiftToDriver()' nbButton status="success" style="float:right" >
                      <!-- <div *ngIf="(form.valid && _regiftModel.assignTo != -1) && (_regiftModel.statusName != 'Declined'  && _regiftModel.statusName != 'Delivered')">Assign Driver</div>
                      <div *ngIf="(form.invalid || _regiftModel.assignTo == -1) && (_regiftModel.statusName != 'Declined'  && _regiftModel.statusName != 'Delivered')">Save</div> -->
                      <div *ngIf="_regiftModel.statusName != 'Declined'  && _regiftModel.statusName != 'Delivered'">Save</div>
                    </button>
                </div>
            </div>
            <br>
            <div class="row" [hidden]="(_regiftModel.regiftComments == undefined || _regiftModel.regiftComments.length == 0)">
                <div class="col-md-12">
                    <h4>History</h4>
                </div>
            </div>
            <div class="row" [hidden]="_regiftModel.regiftComments == undefined || _regiftModel.regiftComments.length == 0">
              <div class="col-md-11 pr0">
                <kendo-grid [data]="gridView"
                  [pageSize]="pageSize"
                  [pageable]="true"
                  [skip]="skip"
                  [sortable]="true"
                  [selectable]="true"
                  (pageChange)="pageChange($event)">
                    <kendo-grid-column field="date" title="Date" width="150"></kendo-grid-column>
                    <kendo-grid-column field="user" title="User" width="100" ></kendo-grid-column>
                    <kendo-grid-column field="comments" title="Comments" width="*"></kendo-grid-column>
                </kendo-grid>
              </div>
            </div>
            </form>
        </div>
        <div class="col-md-5 bg" style="padding-left:30px;">
            <div class="row mt11">
                <div class="col-md-3 bdr mt7">
                  <h4>Status</h4>
                </div>
                <div class="col-md-1 mt7">
                </div>
                <div class="col-md-8 st mt7 row" >
                  <div style="width: 100%"><div style="float:right">{{this.pendingConfirmation}}</div></div>
                  <!-- <i class="nb-power"></i> -->
                </div>
            </div>
            <br>
            <div class="row" *ngIf="_regiftModel.statusName=='Collected' || _regiftModel.statusName=='Delivered' || _regiftModel.statusName=='Declined'">
              <div class="col-md-1">
                <img style="max-height:35px" *ngIf="_regiftModel.fileNameTakenByDriver!=null" src="{{_regiftModel.fileNameTakenByDriver}}" />
                <div class="imgbg" *ngIf="_regiftModel.fileNameTakenByDriver==null">&nbsp;</div>
              </div>
              <div class="col-md-8 ml15">
                  <h6>Collected</h6>
                  <div class="row">
                    <div class="lbl wpc" *ngIf="_regiftModel.collectedPendingConfirmation">Confirmed</div>
                    <div class="lbl bdr wpc" *ngIf="!_regiftModel.collectedPendingConfirmation">With pending confirmation</div>
                    <a class="lbl bck" *ngIf="!_regiftModel.collectedPendingConfirmation && _regiftModel.statusName!='Declined'" (click)="onComplaintAction(dialog,$event, true)" style="cursor:pointer">Confirm</a>
                  </div>
              </div>
              <div class="col-md-1" *ngIf="_regiftModel.collectedPendingConfirmation">
                  <i class="nb-checkmark-circle chk"></i>
              </div>
            </div>
            <br>
            <div class="row" *ngIf="_regiftModel.statusName=='Delivered' || _regiftModel.statusName=='Declined'">
                <div class="col-md-1">
                  <img style="max-height:35px" *ngIf="_regiftModel.fileNameTakenByOrg!=null" src="{{_regiftModel.fileNameTakenByOrg}}" />
                  <div class="imgbg" *ngIf="_regiftModel.fileNameTakenByOrg==null">&nbsp;</div>
                </div>
                <div class="col-md-8 ml15">
                    <h6>Delivered</h6>
                    <div class="row">
                      <div class="lbl wpc" *ngIf="_regiftModel.deliveredPendingConfirmation">Confirmed</div>
                      <div class="lbl bdr wpc" *ngIf="!_regiftModel.deliveredPendingConfirmation">With pending confirmation</div>
                      <a class="lbl bck" *ngIf="!_regiftModel.deliveredPendingConfirmation && _regiftModel.statusName!='Declined'" (click)="onComplaintAction(dialog,$event, false)" style="cursor:pointer">Confirm</a>
                    </div>
                </div>
                <div class="col-md-1" *ngIf="_regiftModel.deliveredPendingConfirmation">
                    <i class="nb-checkmark-circle chk"></i>
                </div>
              </div>
            <br>
            <img class="rounded mx-auto d-block image-class-dailog" src="{{_regiftModel.fileNameTakenByUser}}">
            <br>
            <div class="row">
                <div class="col-md-12">
                  <h5>{{_regiftModel.userName}}</h5>
                </div>
            </div>
            <br>
            <div>
                <div class="lbl">
                  Phone
                </div>
                <div>
                  <h6>{{_regiftModel.userPhone}}</h6>
                </div>
            </div>
            <br>
            <div>
                <div class="lbl">
                  Address
                </div>
                <div>
                  <h6>{{_regiftModel.userAddress}}</h6>
                </div>
            </div>
            <br>
            <div class="col-md-11">
              <div class="row mb11">
                  <div>
                    <i class="nb-location"></i>
                  </div>
                  <div>
                    <a class="maplink" href="https://www.google.com/maps/place/{{_regiftModel.latitude}},{{_regiftModel.longitude}}/@{{_regiftModel.latitude}},{{_regiftModel.longitude}},18z" target="_blank">View on Google Map</a>
                  </div>
              </div>
            </div>
        </div>
      </div>
    </nb-card-body>
</nb-card>
<!-- Dialog  -->
<ng-template #dialog let-data let-ref="dialogRef">
    <nb-card class="dlg">
      <div class="row " class="dlgrow">
        <div class="col-md-12 col-sm-12">
          <div class="form-group">
            <label class="dlgmsgclr"> Do you want to confirm regift request? </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12 col-sm-12" style="margin-left: 7rem;">
          <button nbButton status="success" class="dlgyes" (click)="SetConfirmation(ref)">Yes</button>
          <button nbButton status="warning" class="dlgno" (click)="ref.close()"> No </button>
        </div>
      </div>
      <div class=" form-group col-md-3 col-sm-3">
      </div>
    </nb-card>
  </ng-template>

  <ng-template #dialogReject let-data let-ref="dialogRef">
      <nb-card class="dlg">
        <div class="row " class="dlgrow">
          <div class="col-md-12 col-sm-12">
            <div class="form-group">
              <label class="dlgmsgclr"> Do you want to reject regift request? </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12 col-sm-12" style="margin-left: 7rem;">
            <button nbButton status="success" class="dlgyes" (click)="RejectRegift(ref)">Yes</button>
            <button nbButton status="warning" class="dlgno" (click)="ref.close()"> No </button>
          </div>
        </div>
        <div class=" form-group col-md-3 col-sm-3">
        </div>
      </nb-card>
    </ng-template>
