<!doctype html>
<html>
<head>




<meta charset="utf-8">
<title>Untitled Document</title>

<style>
.btn {
  border: none;
  background-color: #8CC63F;
  padding: 10px 15px 10px;
  font-size: 14px;
	font-weight: 600;
  cursor: pointer;
  display: inline-block;
  border-radius:20px;
}

.btn:hover {color: #6fc17e;}

.success {color: white;}
	
	
	
	
	a:hover {color: #666;}
    a { color: black; text-decoration: none;}

body {
	background-color: #F7F7F7;
}
</style>


</head>

<body>
<table width="720" border="0" boder color bordercolor="#E7E7E7" bgcolor="#ffffff"align="center" cellpadding="0" cellspacing="0" style="font-family:Arial; " >
  <tr>
    <td width="829" align="center" valign="top"><p><br>
      <img src="cid:amal_top_logo" width="46" height="54"  alt=""/></p>
    <p style="font-size: 70px; color: #006F91;"><strong>Hello!</strong></p>
    <p style="font-size: 35px; color: #006F91;  margin-top:-60px">
        <normal>NameGPN DHA</normal></p>
    <p style="font-size: 40px; color: #8CC63F; margin-top:-20px; padding-left: 80px; padding-right: 80px; "><strong>Welcome to Amal Green Patner Network</strong></p>
    </p></td>
  </tr>
  <tr>
    <td align="left" valign="top"><img src="cid:top_image" width="720" height="488"  alt=""/></td>
  </tr>
  <tr>
    <td align="center" valign="top"><p style="font-size: 60px; color: #006F91;"><strong>How to Start</strong></p></td>
  </tr>
  <tr>
    <td align="left" valign="top"><table width="720" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="300" height="364" align="center" valign="top"><img src="cid:login_image" width="197" height="197"  alt=""/></td>
        <td width="477" valign="top"><p style="font-size: 30px; color: #006F91;"><strong>Login</strong></p>
        <p style="font-size: 18px; color: #666666; padding-right: 50px;"><normal>To view your organizational chartboard, Please login by entring your user name and password</normal>
        
        
        </p>
        
        <p><img src="cid:loginPro" width="299" height="98" alt=""/></p>
        <p><span style="font-size: 18px; color: #666666;  padding-right: 50px;">
          <normal>Check your individual and collective progress and green performance on your organizational dashboard</normal></span></p>
        <p>&nbsp;</p>
        
        <a href="http://www.drtechpk.com"  class="btn success" target="_blank" style="color: #FFFFFF;">
        Visit Dashboard<a>
        </td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="center" valign="top"><p style="font-size:20px; color: #8CC63F;">...................................................................</p>
    <p style="font-size: 60px; color: #8CC63F; "><strong>How does it works?</strong></p></td>
  </tr>
  <tr>
    <td align="center" valign="top"><table width="720" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="300" height="121" align="center" valign="top"><img src="cid:add_employee_image" width="197" height="197"  alt=""/></td>
        <td width="477" valign="top"><p style="font-size: 30px; color: #006F91;  padding-right: 50px;"><strong>Add your employe to become part</strong></p>
        <p style="font-size: 18px; color: #666666;  padding-right: 50px;">
          <normal>Educate your employees to become part of your organizational </normal>
          GPN by:</p>
        
        
        
        
        <p><span style="font-size: 18px; color: #666666;">
          <normal>
          </normal>
        </span><span style="font-size: 18px; color: #666666;">
          <normal>
          </normal>
        </span><span style="font-size: 18px; color: #666666;">
        <normal>
          </normal>
        </span><span style="font-size: 18px; color: #666666;">
          <normal>
          </normal>
        </span><span style="font-size: 18px; color: #666666;">
          <normal>
          </normal>
        </span></p>
        <p><span style="font-size: 18px; color: #666666;  padding-right: 50px;">
          <normal>
            <ul>
              <li>Check your individual and collective progress and green performance on your orginazinational dashboard<br>
                <br>
              </li>
              
              <li>Check your individual and collective progress and green performance on your orginazinational dashboard</li>
            </ul>
          </normal>
      </span></p>
        <p>&nbsp;</p>
       <p ><a href="http://www.drtechpk.com"  class="btn success" target="_blank" style="color: #FFFFFF;">
       Download QR Code Poster<a></p>
       <p >&nbsp;</p></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="center" valign="top"><table width="720" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="300" height="121" align="center" valign="top"><p><img src="cid:leadbyexample_image" width="197" height="197"  alt=""/></p>
          <p>&nbsp;</p></td>
        <td width="477" valign="top"><p style="font-size: 30px; color: #006F91;"><strong>Lead by example</strong></p>
        <p style="font-size: 18px; color: #666666;  padding-right: 50px;">
          <normal>Share Green performance of your organization and top performing employees to your stakeholders as shown on your organizational dashboard.</normal></p>
        
        
        
        
        <p>&nbsp;</p></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="left" valign="top"><table width="720" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="300" height="121" align="center" valign="top"><p><img src="cid:encourage_image" width="197" height="197"  alt=""/></p>
          <p>&nbsp;</p></td>
        <td width="477" valign="top"><p style="font-size: 30px; color: #006F91;"><strong>Encourage</strong></p>
        <p style="font-size: 18px; color: #666666;  padding-right: 50px;">
          <normal>Encourage them to Install Amal App by</normal> 
          scanning the QR Code.</p>
        <p style="font-size: 18px; color: #666666;  padding-right: 50px;">Increase tour organization's Green Worth and brand value.</p>
        <p>&nbsp;</p></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="left" valign="top"><table width="720" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="300" height="121" align="center" valign="top"><p><img src="cid:competition_image" width="197" height="197"  alt=""/></p>
          <p>&nbsp;</p></td>
        <td width="477" valign="top"><p style="font-size: 30px; color: #006F91;"><strong>Competition</strong></p>
        <p style="font-size: 18px; color: #666666;  padding-right: 50px;">
          <normal>Hold Competitions among the employees and announce &quot;Green Employee of the Month&quot; based on performance of each employee shown on your GPN dashboard.</normal></p>
        
        
        
        
        <p>&nbsp;</p></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="left" valign="top"><table width="720" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="300" height="256" align="center" valign="top"><p><img src="cid:synergy_image" width="197" height="197"  alt=""/></p>
          <p>&nbsp;</p></td>
        <td width="477" valign="top"><p style="font-size: 30px; color: #006F91;  padding-right: 50px;"><strong>Synergy</strong></p>
        <p style="font-size: 18px; color: #666666;">
          <normal>Co-Creat Impact as small acts when multiplied by millions of people can transform the world.</normal></p>
        
        
        
        
        <p><span style="font-size: 18px; color: #666666;">
          <normal></normal>
        </span></p></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="471" align="center" valign="top"><table width="630" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="center" bgcolor="#F3F8FC"><p style="font-size: 30px; color: #006F91;"><strong>Add Employed with this QR Code</strong></p>
        <p style="font-size: 18px; color: #666666;"><img src="cid:QRCODE" width="199" height="200"  alt=""/>        
        <p style="font-size: 18px; color: #666666; padding-left: 150px; padding-right: 150px; ">
          <normal>and expand your green worth and creative positive climate impact</normal></p>
            <p ><a href="http://www.drtechpk.com" target="_blank"  class="btn success" style="color: #FFFFFF;">
       Download Printable QR Poster<a></p>
            <p >&nbsp;</p>
          
          
          </td>
      </tr>
    </table>
    <p>&nbsp;</p></td>
  </tr>
  <tr>
    <td height="711" align="center" valign="top"><p><img src="cid:quote_image" width="635" height="646"  alt=""/></p>
    <p>&nbsp;</p></td>
  </tr>
  <tr>
    <td height="43" align="center" valign="top"><p style="font-size: 20px; color: #666666;">
      <normal>FOLLOW US</normal></p></td>
  </tr>
  <tr>
    <td height="114" align="center" valign="top"><table width="400" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="center"><img src="cid:Group 5" width="61" height="61"  alt=""/></td>
        <td align="center"><img src="cid:fb" width="61" height="61"  alt=""/></td>
        <td align="center"><img src="cid:in" width="61" height="61"  alt=""/></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="center" valign="top"><table width="600" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="150" align="center"><img src="cid:amal_small" width="40" height="60"  alt=""/></td>
        <td width="1" bgcolor="#F3F3F3">&nbsp;</td>
        <td width="317" align="center">
        <p style="font-size: 18px; color: #666666; ">
          <normal>visit www.amal.com</normal>
          
          
          </p></td>
        <td width="1" bgcolor="#F3F3F3">&nbsp;</td>
        <td width="150" align="center"><p style="font-size: 18px; color: #666666; ">
          <normal>Unsuscribe</normal></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
