<!-- <div class="container">
        <nb-card class="cardSize">
                <nb-card-body>
                    <div class="row" style="font-weight: 600;margin-left: 0px;font-size: 16px;">
                        <p>
                           Green Credits
                          </p>

                    </div>
                    <div class="row">
                            <div class="col-md-12 p-0 m-0">
                                    <ngx-charts-bar-vertical style="max-height: 50px !important;"
                                    [scheme]="colorScheme"
                                    [results]="resultsPie"
                                    [xAxis]="showXAxis"
                                                  [yAxis]="showYAxis"
                                                  [xAxisLabel]="xAxisLabel"
                                                  [yAxisLabel]="yAxisLabel"
                                                  [view]="view"
                                    >
                                   </ngx-charts-bar-vertical>
                            </div>

                    </div>

                  </nb-card-body>
                  </nb-card>


</div> -->




                        <ngx-charts-bar-vertical
                        [scheme]="colorScheme"
                        [results]="resultsPie"
                        [xAxis]="showXAxis"
                        [yAxis]="showYAxis"
                        [xAxisLabel]="xAxisLabel"
                        [yAxisLabel]="yAxisLabel"
                        [showDataLabel]="showDataLabel"

                        >
                       </ngx-charts-bar-vertical>




