<nb-card>
  <nb-card-body>
    <div style="height: 600px;">
      <div class="row pl15 pt15 pb15">         
          <div class="col-md-2" *ngIf='this.roleId == 9'> <!-- Sub Business Admin-->
              <b>In Business Branch</b>
          </div>
          <div class="col-md-2" *ngIf='this.roleId == 4'> <!-- Business Admin-->
            <b>Cross Business Branches</b>
          </div>
      </div>
      <div class="row pl15 pt15 ctr" *ngIf='this.roleId == 9'> <!-- Sub Business Admin-->
        <div class="form-group col-md-5">
            <div class="row" >
              <div class="mt3 p7">
                  Department
              </div>
              <div style="width: 70%">
                  <ng-multiselect-dropdown name="mlDepartments" 
                  [placeholder]="'Select'"
                  [data]="ddlDepartmentList"
                  [(ngModel)]="selectedDepartments"
                  [settings]="dropdownSettings"
                  (onSelect)="onItemSelect($event)"
                  (onSelectAll)="onSelectAll($event)">
                  </ng-multiselect-dropdown>
              </div>
            </div>
        </div>
       
        <div class="form-group col-md-3">
            <div class="row" >
              <div class="mt3 p7">
                  From
              </div>
              <div style="width: 70%">
                  <kendo-datepicker nbInput class="picker" name="dp_BusinessSubAdmin_From" format="dd MMM yyyy" [(ngModel)]="this.subAdminFromDate"></kendo-datepicker>
              </div>
            </div>
        </div>

        <div class="form-group col-md-3">
            <div class="row" >
              <div class="mt3 p7">
                  To
              </div>
              <div style="width: 70%">
                  <kendo-datepicker nbInput class="picker" name="dp_BusinessSubAdmin_To" format="dd MMM yyyy" [(ngModel)]="this.subAdminToDate"></kendo-datepicker>
              </div>
            </div>
        </div>
        <div class="col-md-1" [hidden]="this.selectedDepartments.length == 0 || this.subAdminFromDate == null || this.subAdminToDate == null || this.subAdminToDate < this.subAdminFromDate">
            <a (click)="GetComparisonData()" class="cmpsrch"><i class="nb-search" style="font-size: 35px"></i></a>
        </div>  
      </div>
      <div class="row pl15 pt15 ctr" *ngIf='this.roleId == 4'> <!--Business Admin-->
        <div class="form-group col-md-5">
            <div class="row" >
              <div class="mt3 p7">
                  Business
              </div>
              <div style="width: 70%">
                  <ng-multiselect-dropdown name="mlBusinesses" 
                  [placeholder]="'Select'"
                  [data]="ddlBusinessList"
                  [(ngModel)]="selectedBusinesses"
                  [settings]="dropdownSettings"
                  (onSelect)="onItemSelect($event)"
                  (onSelectAll)="onSelectAll($event)">
                  </ng-multiselect-dropdown>
              </div>
            </div>
        </div>
       
        <div class="form-group col-md-3">
            <div class="row" >
              <div class="mt3 p7">
                  From
              </div>
              <div style="width: 70%">
                  <kendo-datepicker nbInput class="picker" name="dp_BusinessAdmin_From" format="dd MMM yyyy" [(ngModel)]="this.businessAdminFromDate"></kendo-datepicker>
              </div>
            </div>
        </div>

        <div class="form-group col-md-3">
            <div class="row" >
              <div class="mt3 p7">
                  To
              </div>
              <div style="width: 70%">
                  <kendo-datepicker nbInput class="picker" name="dp_BusinessAdmin_To" format="dd MMM yyyy" [(ngModel)]="this.businessAdminToDate"></kendo-datepicker>
              </div>
            </div>
        </div>
        <div class="col-md-1" [hidden]="this.selectedBusinesses.length == 0 || this.businessAdminFromDate == null || this.businessAdminToDate == null || this.businessAdminToDate < this.businessAdminFromDate">
            <a (click)="GetComparisonData()" class="cmpsrch"><i class="nb-search" style="font-size: 35px"></i></a>
        </div>  
      </div>
      <div class="row">
          <div class="col-md-12">
              <kendo-chart [hidden]="!this.IsSearched">
                  <kendo-chart-tooltip [shared]="true">
                      <ng-template kendoChartSharedTooltipTemplate let-category="category" let-points="points">
                          <div><b> {{ category }} (Green Worth) </b></div>
                          <div *ngFor="let point of points">
                              {{ point.series.name }} : {{ point.value }}
                          </div>
                      </ng-template>
                    </kendo-chart-tooltip>
                  <kendo-chart-title text="Monthly Progress (Green Points)"></kendo-chart-title>
                  <kendo-chart-category-axis >
                      <kendo-chart-category-axis-item 
                          [categories]="monthList">
                      </kendo-chart-category-axis-item>
                  </kendo-chart-category-axis>
                  <kendo-chart-series>
                    <kendo-chart-series-item *ngFor="let item of chartData" [name]="item.category" type="line" [data]="item.gpList" >
                    </kendo-chart-series-item>
                  </kendo-chart-series>
                </kendo-chart>
          </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>