<div class="row">
    <div class ="col-md-12">
      <div class="input-group col-md-8" style="float: left;  margin-top: 10px;">
        <kendo-daterange>
          <kendo-dateinput   kendoDateRangeStartInput [(value)]="range.start"></kendo-dateinput>
          <kendo-dateinput   kendoDateRangeEndInput [(value)]="range.end"></kendo-dateinput>&nbsp;&nbsp;&nbsp;              
          
      </kendo-daterange>
      <button  (click)= "clearDateRange()"class="btn btn-secondary" style="padding: 5px;color: white; background-color:#005169; margin-left: 6%;">Clear</button>
      <button (click)= "filterDateRange()" class="btn btn-secondary"  style="padding: 5px;color: white; background-color: #8cc63e; margin-left: 2%;">Filter</button>
      </div>
       <div class="input-group col-md-3 search-text-box">
           <input type="text" class="form-control rounded-right  search-text-box"  placeholder="Search"  name="search" (input)="searchGrid($event.target.value)">
             <span class="icon-inside"><i class="fas fa-search"></i></span>
         </div>
     </div>
   </div>




<nb-tabset>
   <nb-tab  tabTitle="Drivers"  badgeText="{{driverBadge}}" badgeStatus="success">
        <a routerLink="/pages/driver/adddriver" class="blue size13 lnkAdd" title="Approve" data-toggle="tooltip" data-placement="top">
          <button class="btnAdd" nbButton outline  status="success">
            <i  class="fas fa-plus-circle"></i>&nbsp;Add New Driver
          </button>
        </a>

        <!-- <div class="row">
         <div class ="col-md-12">
            <div class="input-group col-md-3 search-text-box">
                <input type="text" class="form-control rounded-right  search-text-box"  placeholder="Search"  name="search" (input)="searchGrid($event.target.value)">
                  <span class="icon-inside"><i class="fas fa-search"></i></span>
              </div>
          </div>
        </div>
     -->
         <nb-card  [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="xlarge">
          <nb-card-header class="headerText">
            {{GridHeaderText}}  
            <button type="button" class="btn btn-success btn-sm"
            style="font-size: 0.95rem !important; float: right" (click)="exportAsXLSX()" >Downloud Excel File</button>
            <br>
          </nb-card-header> 
        <nb-card-body>

            <!-- <input class="k-textbox" (input)="searchGrid($event.target.value)" /> -->
          <kendo-grid [data]="gridView"
                      [pageSize]="pageSize"
                      [pageable]="true"
                      [skip]="skip"
                      [sortable]="{
                        allowUnsort: allowUnsort,
                        mode: multiple ? 'multiple' : 'single'
                        }"
                      [sort]="sort"
                      (sortChange)="sortChange($event)"
                      [selectable]="true"
                      [filterable]="false"
                      (pageChange)="pageChange($event)"
                      (selectionChange)="onSelect($event)">
                      <kendo-grid-column field="fullName" title="Name" width="*">
                          <ng-template
                            kendoGridCellTemplate let-dataItem let-file>
                              <nb-user  [picture]="dataItem.fileName" [name]="dataItem.fullName"  size="small">
                              </nb-user>
                          </ng-template>
                        </kendo-grid-column>

            <!-- <kendo-grid-column field="fullName" title="Name" width="*">  </kendo-grid-column> -->
            <kendo-grid-column field="area" title="Area" width="*"></kendo-grid-column>
            <kendo-grid-column field="phone" title="Contact Number" width="*"></kendo-grid-column>
            <kendo-grid-column field="vehicleName" title="Vehicle" width="*"></kendo-grid-column>
            <kendo-grid-column field="regNumber" title="Vehicle Number" width="*"></kendo-grid-column>
            <kendo-grid-column field="" title="Collected Request" width="*"></kendo-grid-column>
            <kendo-grid-column field="Action" width="100%" [sortable]="false"  filterable="false">
              <ng-template kendoGridCellTemplate let-dataItem>
                <a routerLink="/pages/driver/editdriver/{{dataItem.id}}" class="blue size13 " title="Approve" data-toggle="tooltip" data-placement="top"> <button nbButton outline  status="success"><i  class="nb-edit"></i>&nbsp;Edit</button></a>&nbsp;
                <a class="blue size13 " title="Suspend" data-toggle="tooltip" data-placement="top"><button (click)="onComplaintAction(dialog,$event, dataItem.id)" nbButton outline  status="success">x</button></a>&nbsp;
                <!-- <a routerLink="/pages/driver/tasklist/{{dataItem.id}}" class="blue size13 " title="Approve" data-toggle="tooltip" data-placement="top"> <button nbButton outline  status="success" ><i  class="nb-list"></i>&nbsp;Detail</button></a>&nbsp;
                <a class="blue size13 " title="Delete" data-toggle="tooltip" data-placement="top"><button (click)="deleteSchool(dataItem.id)" nbButton outline  status="success">X</button></a>&nbsp; -->
              </ng-template>
            </kendo-grid-column>
          </kendo-grid>
        </nb-card-body>
        </nb-card>
  </nb-tab>

 </nb-tabset>

 <!-- Dialog  -->

<ng-template #dialog let-data let-ref="dialogRef">
    <nb-card class="dlg">
      <div class="row " class="dlgrow">
        <div class="col-md-12 col-sm-12">
          <div class="form-group">
            <label class="dlgmsgclr">{{SuspensionMessage}}</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12 col-sm-12" style="margin-left: 7rem;">
          <div *ngIf="!IsSuspendable">
              <button style="margin-left: 50px !important" nbButton status="warning" class="dlgno" (click)="ref.close()"> OK </button>
          </div>
          <div *ngIf="IsSuspendable">
              <button nbButton status="success" class="dlgyes" (click)="SuspendDriver(ref)">Yes</button>
              <button nbButton status="warning" class="dlgno" (click)="ref.close()"> No </button>
          </div>

        </div>
      </div>
      <div class=" form-group col-md-3 col-sm-3">
      </div>
    </nb-card>
  </ng-template>
