<!-- <div class="container">
        <nb-card class="cardSize">
        <nb-card-body>
             <div class="row" style="font-weight: 600;margin-left: 0px;font-size: 16px;margin-bottom: 59px;">
                <p>
                    Weight Comparison
                  </p>
            </div>
            <div class="row">
                    <div class="col-md-12 p-0 m-0">
                            <ngx-charts-bar-vertical
                            [scheme]="colorScheme"
                            [results]="resultsBar"
                            [xAxis]="showXAxis"
                            [yAxis]="showYAxis"
                            [xAxisLabel]="xAxisLabel"
                            [yAxisLabel]="yAxisLabel"
                            [view]="view"
                            [showDataLabel] ="showDataLabel"
                            [legend] ="legend"
                            >
                          </ngx-charts-bar-vertical>
                        </div>
            </div>

        </nb-card-body>
    </nb-card>
</div> -->





            <ngx-charts-bar-vertical
            [scheme]="colorScheme"
            [results]="resultsBar"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [showDataLabel] ="showDataLabel"
            [legend] ="legend"

            >
          </ngx-charts-bar-vertical>






