<nb-card>
  <nb-card-header>
    School List
  </nb-card-header>

  <nb-card-body>
    <kendo-grid [data]="listViewModel"
                [pageSize]="10"
                [pageable]="true"
                [sortable]="true"
                [scrollable]="'virtual'"
                [rowHeight]="30"
               >

      <kendo-grid-column field="name" title="Name" width="*"></kendo-grid-column>
      <kendo-grid-column field="address" title="Address" width="*"></kendo-grid-column>
      <kendo-grid-column field="email" title="Email" width="*"></kendo-grid-column>
      <kendo-grid-column field="status" title="Status" width="*"></kendo-grid-column>
      <kendo-grid-column field="Location" title="Location" width="100">
        <ng-template kendoGridCellTemplate let-dataItem>
          <span><a href="https://www.google.com/maps/place/{{dataItem.latitude}},{{dataItem.longitude}}/@{{dataItem.latitude}},{{dataItem.longitude}},18z" target="_blank"><img style="height:50px;" src='assets/images/map/user.png' /></a> </span>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column field="Action" width="100">
        <ng-template kendoGridCellTemplate let-dataItem>
          <a routerLink="/pages/registration/school/detail/{{dataItem.schoolId}}" class="blue size13" title="View Detail" data-toggle="tooltip" data-placement="top"><i class="fa fa-eye"></i></a>&nbsp;
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
  </nb-card-body>
</nb-card>

<ng-template #dialog let-data let-ref="dialogRef">
  
  <nb-card  style="width: 650px;">
    <nb-card-header>Recycle Detail</nb-card-header>
    <nb-card-body>
      <div class="row ">
        <div class="col-md-12">
          <div class="row">
            <div class="flex-centered col-xl-12 col-lg-12 col-md-12 col-sm-12">
              <div class="text-center">
                <img class="rounded mx-auto d-block image-class-dailog" alt="..." src="{{data.fileName}}">
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <label>Weight</label>
                <input nbInput
                       type="number"
                       class="form-control"
                       fullWidth
                       [(ngModel)]="weight"
                       name="weight"
                       id="weight"
                       placeholder="Weight">
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <label>Status</label>
                <select nbInput class="form-control" [(ngModel)]="updatedStatus">
                  <option *ngFor="let status of statusList" [value]="status.value">{{status.description}}</option>
                </select>
              </div>
            </div>

          </div>
          
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton status="success" class="float-right" (click)="updateStatus(data, ref)">Update Status</button>
      <button nbButton status="warning" class="mr-3 float-right" (click)="ref.close()"> Cancel</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
