<div class="row">
  <div class="col-md-12">
    <nb-tabset>
      <nb-tab tabTitle="{{this._viewModel.title}}">
        <nb-card>
          <nb-card-body>
            <form (ngSubmit)="onSubmit()" #levelForm="ngForm">
              <div class="row">
                <div class="form-group col-md-3">
                  <input type="text" [attr.required]="donationFlag" (keypress)="numberOnly($event)" maxlength="4" pattern="^[0-9]*$"
                    [ngClass]=" description.valid || description.pristine ? 'form-control' :  'form-control form-control-danger'"
                    placeholder="From " [(ngModel)]="_viewModel.gpStart" name="gpStart" required
                    #typeDescription="ngModel">
                </div>
                <div class="form-group col-md-3">
                  <input type="text" (keypress)="numberOnly($event)" maxlength="4" pattern="^[0-9]*$"
                    [ngClass]=" description.valid || description.pristine ? 'form-control' :  'form-control form-control-danger'"
                    placeholder="To" [(ngModel)]="_viewModel.gpEnd" name="gpEnd" required #subTypeDescription="ngModel">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <input type="text"
                    [ngClass]=" description.valid || description.pristine ? 'form-control' :  'form-control form-control-danger'"
                    placeholder="GPN Level Name" [(ngModel)]="_viewModel.level" name="level" required
                    #description="ngModel">
                  <!-- <div [hidden]="level.valid || level.pristine" class="alert alert-danger">
                          level is required
                      </div> -->
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-3">
                  <a class="bck" [routerLink]="['/pages/settings/setting']">Back to Listing</a>
                </div>
                <div class="form-group col-md-4">
                  <button type="submit" class="btn btn-success btn-sm" style="font-size: 0.95rem !important;"
                    [disabled]="!levelForm.form.valid">Save</button>
                </div>
              </div>
            </form>
          </nb-card-body>
        </nb-card>
      </nb-tab>
    </nb-tabset>
  </div>
</div>