<!-- <div class="container">
  <nb-card class="cardSize">
    <nb-card-body>
      <div class="row">
        <div class="col-md-12 p-0 m-0">
          <ngx-charts-bar-horizontal
          [scheme]="colorScheme"
          [results]="resultsPie"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [view]="view">
          </ngx-charts-bar-horizontal>
        </div>
      </div>

    </nb-card-body>
  </nb-card>

</div> -->




      <ngx-charts-bar-horizontal
      [scheme]="colorScheme"
      [results]="resultsPie"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [showDataLabel]="showDataLabel"

      >
      </ngx-charts-bar-horizontal>
