<!-- <form #form="ngForm" aria-labelledby="title"> -->
    <div class="form-control-group accept-group">
        <nb-checkbox name="terms">
         Driver
        </nb-checkbox>
      </div>
      <!-- <div class="form-control-group accept-group">
          <nb-checkbox name="terms">
           School
          </nb-checkbox>
     </div>
      <div class="form-control-group accept-group">
            <nb-checkbox name="terms">
             Organization
            </nb-checkbox>
      </div>
      <div class="form-control-group accept-group">
              <nb-checkbox name="terms" >
               Business
      </nb-checkbox>
      </div> -->
<!-- </form> -->