<nb-tabset>
  <nb-tab tabTitle="Working Hours">
    <ngx-working-hours></ngx-working-hours>
  </nb-tab>
  <nb-tab tabTitle="GPN Levels">
    <ngx-gpn-levels></ngx-gpn-levels>
  </nb-tab>
  <nb-tab tabTitle="Green Credits">
    <ngx-add-green-points></ngx-add-green-points>
  </nb-tab>
  <nb-tab tabTitle="Add Ad">
    <ngx-create-ad></ngx-create-ad>
  </nb-tab>
  <nb-tab tabTitle="Add Amal Market Place">
    <ngx-create-markitplace></ngx-create-markitplace>
  </nb-tab>
  <nb-tab tabTitle="Weight">
    <ngx-add-weight></ngx-add-weight>
  </nb-tab>
  <!-- <nb-tab tabTitle="User Right">
  <ngx-user-rights></ngx-user-rights>
    </nb-tab> -->
</nb-tabset>